/*
 * style.css
 *
 * Copyright 2021 Simon Jones <simon_jones49@yahoo.es>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 *
 *
 */
#drop_file_zone {
    background-color: #EEE;
    border: #999 5px dashed;
    width: 290px;
    height: 200px;
    padding: 8px;
    font-size: 18px;
}
#drag_upload_file {
  width:50%;
  margin:0 auto;
}
#drag_upload_file p {
  text-align: center;
}
#drag_upload_file #selectfile {
  display: none;
}
.dlcontainer {
width: 100%;
  display: flex;
        flex-wrap: wrap;
}

.dlbox {

padding: 10px;
margin: 10px;
     flex: 0 0 30%;
}
.link {
width: 97%;
padding: 10px;
margin: 10px;
color: #000;
}
.link1 {
background: #79DCAD;
}
.link1 a, .link2 a {
width: 100%;

color: #123A60;
}
.link2 {
background: #D2B5CF;
}

.thumb {
display:block;
}
.descline {
width: 100%;

}
